@model MPAS.Domain.Entities.MenteeFeedback

@{
    ViewBag.Title = "Create";
}

<h2><b>Feedback: Mentee</b></h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.MentorName, "Mentor Name", htmlAttributes: new { @class = "control-label col-md-2" })

            

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MentorName, ViewBag.fruitlist as SelectList, "Select Mentor", new { style = "width: 250px;" })
            </div>

        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Attendance, "Attendance Percentage", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Attendance, new { htmlAttributes = new { @class = "form-control", @rows = 1} } )
                @Html.ValidationMessageFor(model => model.Attendance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, "Rating (out of 10)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Rating, Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { style = "width: 50px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FeedbackMessage, "Feedback Message", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FeedbackMessage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FeedbackMessage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Post" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancel", "Index")
</div>
